body {
    margin: 0;
}

.layout {
    width: 100%;
}

.bin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
}

.bin.menu {
    background-color: gray;
    height: 100px;
}

nav ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
    padding: 0;
    margin: 0;
}