body {
    margin: 0;
}

div {
    font-size: 0;
}

span {
    color: skyblue;
}

i{
    color: chartreuse;
    font-size: 80px;
}

.kazinkas {
    color: crimson;
    font-size: 50px;
    line-height: 1.5;
    letter-spacing: 4px;
    margin: 0;
    border: 2px solid crimson;
    padding: 20px;
    display: inline-block;
    width: 50%;
    box-sizing: border-box;
    height: 200px;
    vertical-align: middle;
}