.calc {
    margin-top: 30px;
    padding: 20px;
    border: 1px solid gray;
}

.parent {
    width: 400px;
    height: 400px;
    margin: 20px;
    background-color: skyblue;
}

.child {
    position: fixed;
    right: 100px;
    top: 100px;
    width: 40px;
    height: 40px;
    background-color: orange;
}