body {
    margin: 0;
}

input {
    padding: 20px;
}

.paieska {
    display: flex;
    width: 300px;
    height: 50px;
    font-size: 40px;
    border-radius: 5px;
    border: 2px solid black;
}


/* .paieska:hover {
    background-color: transparent;
    cursor: pointer;
} */

.layout {
    width: 100%;
}

.bin {
    width: 100%;
    display: flex;
    justify-content: center;
}

.container {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: center;
}

.bin.menu {
    background-color: lightblue;
    height: 100px;
}

nav {
    border-right: 3px solid white;
    border-left: 3px solid white;
    height: 100px;
    padding: 0;
    display: flex;
    justify-content: space-between;
}

nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 30px;
    list-style: none;
    padding: 0;
    margin: 0;
    height: 100px;
}

nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 30px;
    font-weight: 600;
    transition: all 0.3s;

}

nav ul li a:hover {
    color: darkblue;
}

svg {
    width: 50px;
    height: 50px;
    fill: crimson;
    transition: all 0.3s;
}

svg:hover {
    fill: darkblue;
}

/* .desktop-menu {
    display: none;
} */

/* .burger-holder {
    display: flex;
    align-items: center;
    width: 40px;
    height: 100px;
}

.burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 40px;
    height: 40px;
    cursor: pointer;
    position: relative;
}

.burger div {
    width: 100%;
    height: 5px;
    background-color: white;
    transition: all 0.3s;
} */

img {
    width: 100%;
    height: auto;
    /* object-fit: contain; */
    /* border: 1px solid black; */
}

.image {
    width: 50%;
    display: inline-block;
}

.no-space {
    font-size: 0;
}
